.App {
  text-align: center;
  background-color: #282c34;
  min-height: calc(100vh - 100px);
  color: white;
  margin: 0;
  padding: 50px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  grid-gap: 20px;
}

.orange{
  color: orange;
}

.purple{
  color: purple;
}

.rate-container {
  border-top: 2px solid purple;

}

.rate-container span.fa {
  font-size: 2em;
  cursor: pointer;

}


.movie-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.movie-item span {
  font-size: 1.2em;
  margin: 16px 5px;
}

button {
  color: #444444;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 0.8em;
  outline: none;
}

button:disabled {
  color: #f3f3f3;
  background-color: #444444;
  cursor: not-allowed;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 0.8em;

}

h2 {
  margin: 0;
  font-size: 2em;
}

.fa-trash {
  color: crimson;
}

h1 {
  color: orange;
  font-size: 3em;
}

h1 span.fa {
  color: white;
  transform: rotate(30deg);
}

.login-container {
  width: 50%;
  margin: 50px 25%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

